USE [QLDT]
GO
/****** Object:  UserDefinedFunction [dbo].[TuTangMaBB]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[TuTangMaBB]()
RETURNs nvarchar(20)
AS 
BEGIN 
DECLARE @mabb NVARCHAR(10)
	
SELECT @mabb = MABB FROM BaiBaoKH
IF @mabb IS NULL
SET @mabb = 0
ELSE 
SELECT @mabb = MAX(CONVERT(INT, substring(MABB,3,len(MABB)-2))) FROM BaiBaoKH
SELECT @mabb = CASE
	WHEN @mabb >=0 AND @mabb <9 THEN  'BB00'+CONVERT(CHAR,@mabb +1)
	WHEN @mabb >=9 AND @mabb <99 THEN  'BB0'+CONVERT(CHAR,@mabb +1)
	WHEN @mabb >=99  THEN 'BB'+CONVERT(CHAR,@mabb +1)
	
	END 
RETURN @mabb

END
GO
/****** Object:  UserDefinedFunction [dbo].[TuTangMaDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[TuTangMaDT]()
RETURNs nvarchar(20)
AS 
BEGIN 
DECLARE @madt NVARCHAR(10)
	
SELECT @madt = MADT FROM dbo.DeTaiNCKH
IF @madt IS NULL
SET @madt = 0
ELSE 
SELECT @madt = MAX(CONVERT(INT, substring(MADT,3,len(MADT)-2))) FROM dbo.DeTaiNCKH
SELECT @madt = CASE
	WHEN @madt >=0 AND @madt <9 THEN  'DT00'+CONVERT(CHAR,@madt +1)
	WHEN @madt >=9 AND @madt <99 THEN  'DT0'+CONVERT(CHAR,@madt +1)
	WHEN @madt >=99  THEN 'DT'+CONVERT(CHAR,@madt +1)
	
	END 
RETURN @madt

END
GO
/****** Object:  UserDefinedFunction [dbo].[TuTangMaGV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TuTangMaGV]()
RETURNs nvarchar(10)
AS 
BEGIN 
DECLARE @magv NVARCHAR(10)
	
SELECT @magv = MAGV FROM dbo.GV
IF @magv IS NULL
SET @magv = 0
ELSE 
SELECT @magv = MAX(CONVERT(INT, substring(MAGV,3,len(MAGV)-2))) FROM dbo.GV
SELECT @magv = CASE
	WHEN @magv >=0 AND @magv <9 THEN  'GV00'+CONVERT(CHAR,@magv +1)
	WHEN @magv >=9 AND @magv <99 THEN  'GV0'+CONVERT(CHAR,@magv +1)
	WHEN @magv >=99  THEN 'GV'+CONVERT(CHAR,@magv +1)
	
	END 
RETURN @magv

END
GO
/****** Object:  UserDefinedFunction [dbo].[TuTangMaHD]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[TuTangMaHD]()
RETURNs nvarchar(20)
AS 
BEGIN 
DECLARE @mahd NVARCHAR(10)
	
SELECT @mahd = MAHD FROM HoiDong
IF @mahd IS NULL
SET @mahd = 0
ELSE 
SELECT @mahd = MAX(CONVERT(INT, substring(MAHD,3,len(MAHD)-2))) FROM HoiDong
SELECT @mahd = CASE
	WHEN @mahd >=0 AND @mahd <9 THEN  'HD00'+CONVERT(CHAR,@mahd +1)
	WHEN @mahd >=9 AND @mahd <99 THEN  'HD0'+CONVERT(CHAR,@mahd +1)
	WHEN @mahd >=99  THEN 'HD'+CONVERT(CHAR,@mahd +1)
	
	END 
RETURN @mahd

END
GO
/****** Object:  Table [dbo].[BaiBaoKH]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiBaoKH](
	[MABB] [char](10) NOT NULL,
	[ChuyenNganh] [nvarchar](50) NULL,
	[NgayDang] [date] NULL,
	[TapChi] [nvarchar](50) NULL,
	[MDT] [char](10) NULL,
	[TenBaiBao] [nvarchar](max) NULL,
	[Link] [char](60) NULL,
	[XacNhan] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOMON]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOMON](
	[MABM] [char](10) NOT NULL,
	[TenBM] [nvarchar](50) NULL,
	[DiaDiem] [nvarchar](50) NULL,
	[MACN] [char](10) NULL,
	[MAKHOA] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeTaiNCKH]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeTaiNCKH](
	[MADT] [char](10) NOT NULL,
	[ChuyenNganh] [nvarchar](50) NULL,
	[Cap] [nvarchar](50) NULL,
	[NgayBD] [date] NULL,
	[NgayNT] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[LoaiSP] [nvarchar](50) NULL,
	[MABM] [char](10) NULL,
	[TienDo] [int] NULL,
	[MAHD] [char](10) NULL,
	[KetQua] [nvarchar](20) NULL,
	[TenDT] [nvarchar](max) NULL,
	[KinhPhi] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GV](
	[MAGV] [char](10) NOT NULL,
	[TenGV] [nvarchar](50) NULL,
	[NS] [date] NULL,
	[GioiTinh] [char](10) NULL,
	[CapBac] [nvarchar](50) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[DTL] [float] NULL,
	[MABM] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GVTGDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GVTGDT](
	[MAGV] [char](10) NULL,
	[MADT] [char](10) NULL,
	[Vaitro] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GVThamGiaHD]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GVThamGiaHD](
	[MHD] [char](10) NULL,
	[MGV] [char](10) NULL,
	[Vaitro] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GVVietBB]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GVVietBB](
	[MBB] [char](10) NULL,
	[MGV] [char](10) NULL,
	[Vaitro] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoiDong]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiDong](
	[MAHD] [char](10) NOT NULL,
	[SQDThanhLap] [nvarchar](50) NULL,
	[Cap] [nvarchar](50) NULL,
	[MaKhoa] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [char](10) NOT NULL,
	[TenKhoa] [nvarchar](50) NULL,
	[DiaDiem] [nvarchar](50) NULL,
	[MACN] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyenND]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyenND](
	[ID] [int] NOT NULL,
	[TenQuyen] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserName] [char](20) NULL,
	[Passwords] [char](20) NULL,
	[MGV] [char](10) NULL,
	[MQ] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiBaoKH]  WITH NOCHECK ADD FOREIGN KEY([MDT])
REFERENCES [dbo].[DeTaiNCKH] ([MADT])
GO
ALTER TABLE [dbo].[BOMON]  WITH NOCHECK ADD FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[DeTaiNCKH]  WITH NOCHECK ADD FOREIGN KEY([MABM])
REFERENCES [dbo].[BOMON] ([MABM])
GO
ALTER TABLE [dbo].[DeTaiNCKH]  WITH NOCHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HoiDong] ([MAHD])
GO
ALTER TABLE [dbo].[GV]  WITH NOCHECK ADD FOREIGN KEY([MABM])
REFERENCES [dbo].[BOMON] ([MABM])
GO
ALTER TABLE [dbo].[GVTGDT]  WITH NOCHECK ADD FOREIGN KEY([MADT])
REFERENCES [dbo].[DeTaiNCKH] ([MADT])
GO
ALTER TABLE [dbo].[GVTGDT]  WITH NOCHECK ADD FOREIGN KEY([MAGV])
REFERENCES [dbo].[GV] ([MAGV])
GO
ALTER TABLE [dbo].[GVThamGiaHD]  WITH CHECK ADD FOREIGN KEY([MGV])
REFERENCES [dbo].[GV] ([MAGV])
GO
ALTER TABLE [dbo].[GVThamGiaHD]  WITH CHECK ADD FOREIGN KEY([MHD])
REFERENCES [dbo].[HoiDong] ([MAHD])
GO
ALTER TABLE [dbo].[GVVietBB]  WITH NOCHECK ADD FOREIGN KEY([MBB])
REFERENCES [dbo].[BaiBaoKH] ([MABB])
GO
ALTER TABLE [dbo].[GVVietBB]  WITH NOCHECK ADD FOREIGN KEY([MGV])
REFERENCES [dbo].[GV] ([MAGV])
GO
ALTER TABLE [dbo].[HoiDong]  WITH NOCHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([MGV])
REFERENCES [dbo].[GV] ([MAGV])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([MQ])
REFERENCES [dbo].[QuyenND] ([ID])
GO
USE [QLDT]
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TenKhoa], [DiaDiem], [MACN]) VALUES (N'K01       ', N'Công nghệ thông tin', N'Tầng 19, Nhà S1, Học viện Kỹ thuật Quân sự', N'GV023     ')
INSERT [dbo].[KHOA] ([MAKHOA], [TenKhoa], [DiaDiem], [MACN]) VALUES (N'K02       ', N'Kỹ thuật công trình đặc biệt', N'Tầng 17, Nhà S1, Học viện Kỹ thuật Quân sự', N'GV024     ')
INSERT [dbo].[KHOA] ([MAKHOA], [TenKhoa], [DiaDiem], [MACN]) VALUES (N'K03       ', N'Tích hợp hệ thống', N'Tầng 18, Nhà S1, Học viện Kỹ thuật Quân sự', N'GV025     ')
GO
INSERT [dbo].[BOMON] ([MABM], [TenBM], [DiaDiem], [MACN], [MAKHOA]) VALUES (N'BM01      ', N'An toàn thông tin', N'Tầng 22, nhà S1, Học viện Kỹ thuật Quân sự', N'GV001     ', N'K01       ')
INSERT [dbo].[BOMON] ([MABM], [TenBM], [DiaDiem], [MACN], [MAKHOA]) VALUES (N'BM02      ', N'Hệ thống thông tin', N'Tầng 19, nhà S1, Học viện Kỹ thuật Quân sự', N'GV002     ', N'K01       ')
INSERT [dbo].[BOMON] ([MABM], [TenBM], [DiaDiem], [MACN], [MAKHOA]) VALUES (N'BM03      ', N'Khoa học máy tính', N'Tầng 17, Nhà S1, Học viện Kỹ thuật Quân sự', N'GV003     ', N'K01       ')
GO
INSERT [dbo].[HoiDong] ([MAHD], [SQDThanhLap], [Cap], [MaKhoa]) VALUES (N'HD001     ', N'QDTL001', N'Học viện', N'K01       ')
INSERT [dbo].[HoiDong] ([MAHD], [SQDThanhLap], [Cap], [MaKhoa]) VALUES (N'HD002     ', N'QDTL002', N'Hoc viện', N'K01       ')
INSERT [dbo].[HoiDong] ([MAHD], [SQDThanhLap], [Cap], [MaKhoa]) VALUES (N'HD003     ', N'QDTL003', N'Học viện', N'K03       ')
GO
INSERT [dbo].[GV] ([MAGV], [TenGV], [NS], [GioiTinh], [CapBac], [ChucVu], [DTL], [MABM]) VALUES (N'GV001     ', N'Hoàng Hải Anh', CAST(N'1980-05-13' AS Date), N'Nu        ', N'Thiếu tá', N'Chủ nhiệm bộ môn', 0, N'BM01      ')
INSERT [dbo].[GV] ([MAGV], [TenGV], [NS], [GioiTinh], [CapBac], [ChucVu], [DTL], [MABM]) VALUES (N'GV002     ', N'Nguyễn Văn Tuấn', CAST(N'1982-05-06' AS Date), N'Nam       ', N'Trung tá', N'Chủ nhiệm bộ môn', 0, N'BM02      ')
INSERT [dbo].[GV] ([MAGV], [TenGV], [NS], [GioiTinh], [CapBac], [ChucVu], [DTL], [MABM]) VALUES (N'GV003     ', N'Nguyễn Trung Dũng', CAST(N'1983-07-09' AS Date), N'Nam       ', N'Trung tá', N'Chủ nhiệm bộ môn', 0, N'BM03      ')
GO
INSERT [dbo].[DeTaiNCKH] ([MADT], [ChuyenNganh], [Cap], [NgayBD], [NgayNT], [TrangThai], [LoaiSP], [MABM], [TienDo], [MAHD], [KetQua], [TenDT], [KinhPhi]) VALUES (N'DT001     ', N'An toàn thông tin', N'Học viện', CAST(N'2021-04-05' AS Date), CAST(N'2022-04-05' AS Date), N'Đã hoàn thành', N'Phần mềm', N'BM01      ', 100, N'HD001     ', N'Khá', N'Nghiên cứu và phát triển hệ thống phát hiện xâm nhập', 0)
INSERT [dbo].[DeTaiNCKH] ([MADT], [ChuyenNganh], [Cap], [NgayBD], [NgayNT], [TrangThai], [LoaiSP], [MABM], [TienDo], [MAHD], [KetQua], [TenDT], [KinhPhi]) VALUES (N'DT002     ', N'Công nghệ phần mềm', N'Học viện', CAST(N'2021-04-05' AS Date), CAST(N'2022-04-05' AS Date), N'Đã hoàn thành', N'Phần mềm', N'BM04      ', 100, N'HD001     ', N'Xuất sắc', N'Nghiên cứu các thuật toán tìm kiếm ảnh theo nội dung, xây dựng hệ thống hỗ trợ tra cứu bằng hình ảnh', 0)
INSERT [dbo].[DeTaiNCKH] ([MADT], [ChuyenNganh], [Cap], [NgayBD], [NgayNT], [TrangThai], [LoaiSP], [MABM], [TienDo], [MAHD], [KetQua], [TenDT], [KinhPhi]) VALUES (N'DT003     ', N'Tác chiến điện tử', N'Học viện', CAST(N'2021-04-05' AS Date), CAST(N'2022-04-05' AS Date), N'Đã hoàn thành', N'Phần mềm', N'BM01      ', 100, N'HD001     ', N'Khá', N'Một số kỹ thuật phát hiện thay đổi trên dữ liệu viễn thám', 0)
GO
INSERT [dbo].[GVThamGiaHD] ([MHD], [MGV], [Vaitro]) VALUES (N'HD001     ', N'GV062     ', N'Chủ tịch')
INSERT [dbo].[GVThamGiaHD] ([MHD], [MGV], [Vaitro]) VALUES (N'HD001     ', N'GV061     ', N'Thư ký')
INSERT [dbo].[GVThamGiaHD] ([MHD], [MGV], [Vaitro]) VALUES (N'HD002     ', N'GV058     ', N'Thư ký')
GO
INSERT [dbo].[BaiBaoKH] ([MABB], [ChuyenNganh], [NgayDang], [TapChi], [MDT], [TenBaiBao], [Link], [XacNhan]) VALUES (N'BB001     ', N'Công nghệ thông tin', CAST(N'2022-05-16' AS Date), N'SCOPUS Journals', N'DT001     ', N'Vulnerabilities 1', N'https://www.google.com/                                     ', N'Đã xác minh')
INSERT [dbo].[BaiBaoKH] ([MABB], [ChuyenNganh], [NgayDang], [TapChi], [MDT], [TenBaiBao], [Link], [XacNhan]) VALUES (N'BB002     ', N'An toàn thông tin', CAST(N'2021-09-20' AS Date), N'SCOPUS Journals', N'DT004     ', N'Top Ten Most Critical Web Application Vulnerabilities', N'https://www.google.com/                                     ', N'Đã xác minh')
INSERT [dbo].[BaiBaoKH] ([MABB], [ChuyenNganh], [NgayDang], [TapChi], [MDT], [TenBaiBao], [Link], [XacNhan]) VALUES (N'BB003     ', N'Khoa học máy tính', CAST(N'2021-07-29' AS Date), N'SCOPUS Journals', N'DT011     ', N'A non-bypassable process wrapping technology. In Proceeding of the 19th IEEE International Conference on Distributed Computing
Systems', N'https://www.google.com/                                     ', N'Đã xác minh')
GO
INSERT [dbo].[GVVietBB] ([MBB], [MGV], [Vaitro]) VALUES (N'BB004     ', N'GV030     ', N'Tác giả 1')
INSERT [dbo].[GVVietBB] ([MBB], [MGV], [Vaitro]) VALUES (N'BB004     ', N'GV031     ', N'Tác giả 2')
INSERT [dbo].[GVVietBB] ([MBB], [MGV], [Vaitro]) VALUES (N'BB003     ', N'GV040     ', N'Tác giả 1')
GO
INSERT [dbo].[GVTGDT] ([MAGV], [MADT], [Vaitro]) VALUES (N'GV069     ', N'DT003     ', N'Thành viên')
INSERT [dbo].[GVTGDT] ([MAGV], [MADT], [Vaitro]) VALUES (N'GV033     ', N'DT016     ', N'Chủ nhiệm')
INSERT [dbo].[GVTGDT] ([MAGV], [MADT], [Vaitro]) VALUES (N'GV049     ', N'DT016     ', N'Thành viên')
GO
INSERT [dbo].[QuyenND] ([ID], [TenQuyen]) VALUES (1, N'Giáo viên')
INSERT [dbo].[QuyenND] ([ID], [TenQuyen]) VALUES (2, N'Bộ môn')
INSERT [dbo].[QuyenND] ([ID], [TenQuyen]) VALUES (3, N'Khoa')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserName], [Passwords], [MGV], [MQ], [ID]) VALUES (N'trantung            ', N'123                 ', NULL, 4, 1)
INSERT [dbo].[Users] ([UserName], [Passwords], [MGV], [MQ], [ID]) VALUES (N'huy                 ', N'1                   ', N'GV040     ', 1, 4)
INSERT [dbo].[Users] ([UserName], [Passwords], [MGV], [MQ], [ID]) VALUES (N'nqhuy               ', N'12                  ', N'GV023     ', 3, 8)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO

/****** Object:  StoredProcedure [dbo].[addResearch]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addResearch] @mdt char(10),@mp char(10),@mbm char(10),@tendt nvarchar(50), @CN nvarchar(50),@cap nvarchar(50),@qdtl nvarchar(50),@NBD date,@NNT date,@lsp nvarchar(50),@td nvarchar(50),@tt nvarchar(50)
as
begin
	insert into DeTaiNCKH(MADT,MABM,MP,TenDT,ChuyenNganh,Cap,SQDThanhLap,NgayBD,NgayNT,LoaiSP,TienDo,TrangThai)
	values(@mdt,@mbm,@mp,@tendt,@CN,@cap,@qdtl,@NBD,@NNT,@lsp,@td,@tt)
end
GO
/****** Object:  StoredProcedure [dbo].[addTV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addTV] @mgv char(10) ,@madt char(10)
as
begin
	insert into GVTGDT(MADT,MAGV,Vaitro) Values(@madt,@mgv,N'Thành viên')
end
GO
/****** Object:  StoredProcedure [dbo].[baoccao]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[baoccao]
as
begin

select ROW_NUMBER() over(order by dt.TenDT) as STT, dt.TenDT, gv.TenGV, khoa.TenKhoa, dt.Cap ,300000 as Tien from  DeTaiNCKH dt, GVTGDT gvtg, GV gv, KHOA khoa, BOMON bm where dt.MADT = gvtg.MADT and gvtg.MAGV = gv.MAGV and gv.MABM = bm.MABM and bm.MAKHOA = khoa.MAKHOA and gvtg.Vaitro = N'Chủ nhiệm'
end
GO
/****** Object:  StoredProcedure [dbo].[bommon_layGV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[bommon_layGV] @mabm char(10)
as
begin
	select * from GV where MABM = @mabm
end
GO
/****** Object:  StoredProcedure [dbo].[bommon_xoaGV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[bommon_xoaGV] @mgv char(10)
as
begin
	delete from GV where MAGV = @mgv
end
GO
/****** Object:  StoredProcedure [dbo].[bomon_lay_cnDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[bomon_lay_cnDT] @mabm char(10), @vaitro nvarchar(MAX)
as
begin
	select distinct(GV.MAGV), GV.TenGV,GVTGDT.MADT, DeTaiNCKH.TenDT from GV, GVTGDT, DeTaiNCKH where GV.MABM = @mabm and GV.MAGV = GVTGDT.MAGV and GVTGDT.MADT = DeTaiNCKH.MADT and GVTGDT.Vaitro = @vaitro
end
GO
/****** Object:  StoredProcedure [dbo].[bomon_lay_dsdt]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[bomon_lay_dsdt]  @mabm char(10)
as
begin
	select* from DeTaiNCKH where DeTaiNCKH.MABM = @mabm
end
GO
/****** Object:  StoredProcedure [dbo].[bomon_lay_dtdt_cap_tt]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[bomon_lay_dtdt_cap_tt] @mabm char(10), @cap nvarchar(50),@tt nvarchar(50)
as
begin
	select * from DeTaiNCKH where (DeTaiNCKH.MABM  = @mabm and  DeTaiNCKH.Cap = @cap and TrangThai = @tt)
end
GO
/****** Object:  StoredProcedure [dbo].[bomon_lay_dtdt_theocap]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[bomon_lay_dtdt_theocap] @mabm char(10), @cap nvarchar(50)
as
begin
	select * from DeTaiNCKH where (DeTaiNCKH.MABM  = @mabm and  DeTaiNCKH.Cap = @cap)
end
GO
/****** Object:  StoredProcedure [dbo].[bomon_lay_dtdt_tt]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[bomon_lay_dtdt_tt] @mabm char(10), @cap nvarchar(50),@tt nvarchar(50)
as
begin
	select * from DeTaiNCKH where (DeTaiNCKH.MABM  = @mabm and  TrangThai = @tt)
end
GO
/****** Object:  StoredProcedure [dbo].[bomon_tk_dt]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[bomon_tk_dt] @mabm char(10),@tenDT nvarchar(MAX)
as
begin
	select * from DeTaiNCKH where DeTaiNCKH.TenDT = @tenDT and DeTaiNCKH.MABM   = @mabm  
end
GO
/****** Object:  StoredProcedure [dbo].[checkGVTGDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[checkGVTGDT] @magv char(10)
as
begin
	select * from DeTaiNCKH where  FORMAT (getdate(), 'dd-MM-yyyy') < NgayNT and MADT in (select MADT from GVTGDT where MAGV= @magv)
end
GO
/****** Object:  StoredProcedure [dbo].[DanhNhap]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DanhNhap] @userName char(20),@passwords char(20)
as
begin
	select MGV,TenQuyen from Users join QuyenND on Users.MQ = QuyenND.ID where Passwords = @passwords and UserName = @userName 
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteGV1]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteGV1] @magv nvarchar(10)
as
begin
DELETE FROM dbo.DANGNHAP 
WHERE MGV = @magv
UPDATE dbo.BOMON SET MACN = NULL WHERE MACN =@magv
UPDATE dbo.KHOA SET MACN = NULL  WHERE MACN= @magv
DELETE FROM dbo.GVTGDT WHERE dbo.GVTGDT.MAGV = @magv
DELETE FROM dbo.GVThamGiaHD WHERE dbo.GVThamGiaHD.MGV = @magv
DELETE FROM dbo.GVVietBB WHERE dbo.GVVietBB.MGV = @magv
DELETE FROM dbo.GV WHERE gv.MAGV =@maGV
end
GO
/****** Object:  StoredProcedure [dbo].[deleteResearch]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE proc [dbo].[deleteResearch] @mdt char(10)
	as
	begin
		delete from DeTaiNCKH where MADT = @mdt
		delete from GVTGDT where MADT = @mdt
	end
GO
/****** Object:  StoredProcedure [dbo].[filterResearchTT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[filterResearchTT] @tt nvarchar(50)
as
begin
	select * from DeTaiNCKH where TrangThai= @tt
end
GO
/****** Object:  StoredProcedure [dbo].[getAllBB]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getAllBB] 
as
begin
	select MABB as N'Mã bài báo',TenBaiBao as N'Tên bài báo',MADT as N'Mã dề tài',BaiBaoKH.ChuyenNganh as N'Chuyên ngành',
	NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',Link from (BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT=DeTaiNCKH.MADT) where XacNhan = N'Đã xác minh'
end
GO
/****** Object:  StoredProcedure [dbo].[getAllBBByMGV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getAllBBByMGV] @mgv char(10)
as
begin
	select MABB as N'Mã bài báo', TenBaiBao as N'Tên bài báo',ChuyenNganh as N'Chuyên ngành',NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',MDT as N'Mã đề tài',Link,XacNhan as N'Xác nhận' from BaiBaoKH where MABB in (select MBB from GVVietBB where MGV = @mgv)
end
GO
/****** Object:  StoredProcedure [dbo].[getAllDTByMagv]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getAllDTByMagv] @ma char(10)
as
begin
	select MADT as N'Mã đề tài' ,TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ' from DeTaiNCKH where MADT in (select MADT from GVTGDT where MAGV = @ma)
end
GO
/****** Object:  StoredProcedure [dbo].[getAllDTbyNam]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getAllDTbyNam] @year char(10)
as
begin
	select * from DeTaiNCKH where year(NgayBD) = @year
end
GO
/****** Object:  StoredProcedure [dbo].[getALLDTKTG]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getALLDTKTG]
as
begin
	select MADT from DeTaiNCKH where MADT not in (select MADT from GVTGDT)
end
GO
/****** Object:  StoredProcedure [dbo].[getAllGVByMDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getAllGVByMDT] @mdt char(10)
as
begin
	select GV.MAGV,TenGV,NS,GioiTinh,CapBac,ChucVu,Vaitro from GV join (select Vaitro,TenDT,MAGV,GVTGDT.MADT from GVTGDT join DeTaiNCKH on GVTGDT.MADT = DeTaiNCKH.MADT) as TG on GV.MAGV=TG.MAGV where MADT = @mdt
end
GO
/****** Object:  StoredProcedure [dbo].[getAllResearch]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getAllResearch]
as
begin
	select MADT as N'Mã đề tài',TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ' from DeTaiNCKH order by year(NgayNT) desc 
end
GO
/****** Object:  StoredProcedure [dbo].[getCNByMADT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getCNByMADT] @madt char(10)
as
begin
	select ChuyenNganh from DeTaiNCKH where MADT = @madt
end
GO
/****** Object:  StoredProcedure [dbo].[getDTKHD]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getDTKHD] @mk char(10)
as
begin
	select MADT from DeTaiNCKH where MAHD  is NULL and Cap = N'Học viện' and MABM in (select MABM from  BOMON where MAKHOA = @mk) and TrangThai=N'Đang làm'
end
GO
/****** Object:  StoredProcedure [dbo].[getGVKTGDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getGVKTGDT]
as
begin
	select MAGV,ChucVu from (select MAGV,ChucVu from GV where MAGV  in (select MAGV from GVTGDT  join DeTaiNCKH on GVTGDT.MADT = DeTaiNCKH.MADT  where convert(date,DeTaiNCKH.NgayNT,102) < convert(date,getdate(),102) and MAGV not in(select MAGV from GVTGDT  join DeTaiNCKH on GVTGDT.MADT = DeTaiNCKH.MADT  where convert(date,DeTaiNCKH.NgayNT,102) > convert(date,getdate(),102))) or MAGV not in (select MAGV from GVTGDT)) as ts where MAGV not in(select MGV from GVThamGiaHD)
end
GO
/****** Object:  StoredProcedure [dbo].[getGVKTGDTBYMK]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getGVKTGDTBYMK] @makhoa char(10)
as
begin
	select MAGV,ChucVu from (select GV.MAGV,GV.MABM, GV.ChucVu from GV where MAGV  in (select MAGV from GVTGDT  join 
DeTaiNCKH on GVTGDT.MADT = DeTaiNCKH.MADT  where convert(date,DeTaiNCKH.NgayNT,102) < convert(date,getdate(),102) 
and MAGV not in(select MAGV from GVTGDT  join DeTaiNCKH on GVTGDT.MADT = DeTaiNCKH.MADT  
where convert(date,DeTaiNCKH.NgayNT,102) > convert(date,getdate(),102))) or MAGV not in (select MAGV from GVTGDT))  as ts 
where MAGV not in (select MGV from GVThamGiaHD) and ts.MABM in (select MABM from BOMON,KHOA where BOMON.MAKHOA = KHOA.MAKHOA and KHOA.MAKHOA= @makhoa)
end
GO
/****** Object:  StoredProcedure [dbo].[getMABM]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getMABM] @mgv char(10)
as
begin
	select MABM from BOMON where MACN=@mgv
end
GO
/****** Object:  StoredProcedure [dbo].[getMAHDKHOA]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getMAHDKHOA]
as
begin
select distinct(MHD) from GVThamGiaHD where MGV in(select MAGV from GV where MABM in(select MABM from BOMON ,KHOA where BOMON.MAKHOA=KHOA.MAKHOA ))
end
exec getMAHDKHOA
GO
/****** Object:  StoredProcedure [dbo].[getMAKHOA]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getMAKHOA] @mgv char(10)
as
begin
	select MaKhoa from KHOA where MACN = @mgv
end
GO
/****** Object:  StoredProcedure [dbo].[getMDTByMAGV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getMDTByMAGV] @magv char(10)
as
begin
select MADT from GVTGDT where MAGV = @magv
end
GO
/****** Object:  StoredProcedure [dbo].[getMGV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getMGV]
as
begin
select distinct(MAGV) from GVTGDT
end
GO
/****** Object:  StoredProcedure [dbo].[getTenDTbyMADT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getTenDTbyMADT] @mdt char(10)
as
begin
	select TenDT  from DeTaiNCKH where MADT = @mdt
end
GO
/****** Object:  StoredProcedure [dbo].[getTenGVbyBM]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getTenGVbyBM] @ten nvarchar(50)
as
begin
	select MAGV,TenGV from GV where MABM in (select MABM from BOMON where TenBM = @ten) and MAGV not in (select MGV from Users where MQ = 1)
end
GO
/****** Object:  StoredProcedure [dbo].[getTKBM]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getTKBM]
as
begin
	select ID,DANGNHAP.MABM,UserName,Passwords,TenBM from DANGNHAP  join BOMON on DANGNHAP.MABM = BOMON.MABM
end
GO
/****** Object:  StoredProcedure [dbo].[getTKGV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getTKGV]
as
begin
	select ID,MGV,UserName,Passwords,TenGV from DANGNHAP  join GV on DANGNHAP.MGV = GV.MAGV
end
GO
/****** Object:  StoredProcedure [dbo].[getTKK]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getTKK]
as
begin
	select ID,DANGNHAP.MAKHOA,UserName,Passwords,TenKhoa from DANGNHAP  join KHOA on DANGNHAP.MAKHOA = KHOA.MAKHOA
end
GO
/****** Object:  StoredProcedure [dbo].[getYearBB]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getYearBB]
as
begin
 select distinct(Year(NgayDang)) as Nam from BaiBaoKH order by Nam desc
end
GO
/****** Object:  StoredProcedure [dbo].[getYearDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getYearDT]
as
begin
	select distinct(Year(NgayBD)) as Nam from DeTaiNCKH order by Nam desc
end
GO
/****** Object:  StoredProcedure [dbo].[gv_addDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[gv_addDT] @ma char(10),@ten nvarchar(MAX),@cap nvarchar(20),@cn nvarchar(50),@NBG date,@NKT date,@mbm char(10), @sp nvarchar(10),@mgv char(10)
as
begin
	insert into DeTaiNCKH(MADT,TenDT,ChuyenNganh,Cap,NgayBD,NgayNT,TienDo,TrangThai,LoaiSP,MAHD,KetQua,MABM)
	values(@ma,@ten,@cn,@cap,@NBG,@NKT,0,N'Chờ duyệt','',NULL,'',@mbm)
	insert into GVTGDT(MAGV,MADT,Vaitro) 
	values(@ma,@mgv,N'Chủ nhiệm')
end
GO
/****** Object:  StoredProcedure [dbo].[gv_getTV_TG]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[gv_getTV_TG] @mdt char(10),@magv char(10)
as
begin
	select GV.MAGV,TenGV from GV,GVTGDT where GV.MAGV = GVTGDT.MAGV and MADT = @mdt and GVTGDT.MAGV <> @magv 
end
GO
/****** Object:  StoredProcedure [dbo].[GV_sua_tt]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GV_sua_tt] @magv char(10),@cap nvarchar(50),@chucvu nvarchar(50),@maBM char(10)
as
begin
	update GV set Capbac = @cap, Chucvu=@chucvu, MABM = @maBM where MaGv=@magv
end
GO
/****** Object:  StoredProcedure [dbo].[GV_them_dt]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GV_them_dt] 
@madt char(10),
@tendt nvarchar(MAX),
@cn nvarchar(50),
@cap nvarchar(50),
@ngaybd date,
@sp nvarchar(40),
@maBM char(10),
@sltv char,
@gv1 char(10),
@gv2 char(10),
@gv3 char(10),
@gv4 char(10),
@gv5 char(10)
as
begin
	insert into DeTaiNCKH(MADT,TenDT,ChuyenNganh,Cap,NgayBD,NgayNT,MABM,MAHD,LoaiSP,KetQua,TienDo,TrangThai)
	values(@madt,@tendt,@cn,@cap,GETDATE(),'4/5/2023',@maBM,NULL,@sp,N'Chưa xếp loại',0,N'Chờ phê duyệt')
	insert into GVTGDT(MADT,MAGV,Vaitro)
	values(@madt,@gv1,N'Chủ nhiệm')
	if @sltv = '1'
		insert into GVTGDT(MADT,MAGV,Vaitro)
		values(@madt,@gv2,N'Thành viên')
	if @sltv='2'
		insert into GVTGDT(MADT,MAGV,Vaitro)
		values(@madt,@gv2,N'Thành viên'),
			   (@madt,@gv3,N'Thành viên')
	if @sltv='3'
		insert into GVTGDT(MADT,MAGV,Vaitro)
		values(@madt,@gv2,N'Thành viên'),
			   (@madt,@gv3,N'Thành viên'),
			   (@madt,@gv4,N'Thành viên')
	if @sltv = '4'
		insert into GVTGDT(MADT,MAGV,Vaitro)
		values(@madt,@gv2,N'Thành viên'),
			  (@madt,@gv3,N'Thành viên'),
			  (@madt,@gv4,N'Thành viên'),
			  (@madt,@gv5,N'Thành viên')
end
GO
/****** Object:  StoredProcedure [dbo].[GV_viet_BB]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GV_viet_BB] 
@mbb char(10),
@magv char(10),
@cn nvarchar(50),
@tc nvarchar(50),
@tenbb nvarchar(MAX),
@ngaydang date,
@vaitro nvarchar(50),
@link char(50),
@madt char(10),
@sl int,
@gv1 char(10),
@gv2 char(10),
@gv3 char(10),
@gv4 char(10)
as
begin
	insert into BaiBaoKH(MABB,TenBaiBao,TapChi,MDT,ChuyenNganh,XacNhan,NgayDang,Link)
	values(@mbb,@tenbb,@tc,@madt,@cn,N'Chờ xác minh',@ngaydang,@link)
	insert into GVVietBB(MBB,MGV,Vaitro)
	values(@mbb,@magv,@vaitro)
	if @sl = 1
		insert into GVVietBB(MBB,MGV,Vaitro)
		values(@mbb,@gv1,N'Tác giả 2')
	if @sl = 2
		insert into GVVietBB(MBB,MGV,Vaitro)
		values(@mbb,@gv1,N'Tác giả 2'),
			  (@mbb,@gv1,N'Tác giả 3')
	if @sl = 3 
		insert into GVVietBB(MBB,MGV,Vaitro)
		values(@mbb,@gv1,N'Tác giả 2'),
			  (@mbb,@gv1,N'Tác giả 3'),
			  (@mbb,@gv1,N'Tác giả 4')
	if @sl = 4 
		insert into GVVietBB(MBB,MGV,Vaitro)
		values(@mbb,@gv1,N'Tác giả 2'),
			  (@mbb,@gv1,N'Tác giả 3'),
			  (@mbb,@gv1,N'Tác giả 4'),
			  (@mbb,@gv1,N'Tác giả 5')
end
GO
/****** Object:  StoredProcedure [dbo].[khoa_AllDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[khoa_AllDT] @makhoa char(10)
as
begin
select MADT, TenDT, Cap, NgayBD, NgayNT, TrangThai, BOMON.TenBM, TienDo, KetQua from DeTaiNCKH, BOMON where DeTaiNCKH.MABM  = BOMON.MABM and BOMON.MAKHOA = @makhoa
end
GO
/****** Object:  StoredProcedure [dbo].[khoa_AllDT_theo_BM]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[khoa_AllDT_theo_BM] @makhoa char(10), @bm nvarchar(50)
as
begin
select MADT, TenDT, Cap, NgayBD, NgayNT, TrangThai, BOMON.TenBM, TienDo, KetQua from DeTaiNCKH, BOMON where (DeTaiNCKH.MABM  = BOMON.MABM and BOMON.MAKHOA = @makhoa) and  BOMON.TenBM = @bm
end
GO
/****** Object:  StoredProcedure [dbo].[khoa_AllDT_theo_BMTT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[khoa_AllDT_theo_BMTT] @makhoa char(10), @tt nvarchar(50), @bm nvarchar(50)
as
begin
select MADT, TenDT, Cap, NgayBD, NgayNT, TrangThai, BOMON.TenBM, TienDo, KetQua from DeTaiNCKH, BOMON where (DeTaiNCKH.MABM  = BOMON.MABM and BOMON.MAKHOA = @makhoa) and (DeTaiNCKH.TrangThai = @tt and BOMON.TenBM = @bm)
end
GO
/****** Object:  StoredProcedure [dbo].[khoa_AllDT_theo_Cap]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[khoa_AllDT_theo_Cap] @makhoa char(10), @cap nvarchar(50)
as
begin
select MADT, TenDT, Cap, NgayBD, NgayNT, TrangThai, BOMON.TenBM, TienDo, KetQua from DeTaiNCKH, BOMON where (DeTaiNCKH.MABM  = BOMON.MABM and BOMON.MAKHOA = @makhoa and  DeTaiNCKH.Cap = @cap)
end
GO
/****** Object:  StoredProcedure [dbo].[khoa_AllDT_theo_CapBM]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[khoa_AllDT_theo_CapBM] @makhoa char(10), @cap nvarchar(50), @bm nvarchar(50)
as
begin
select MADT, TenDT, Cap, NgayBD, NgayNT, TrangThai, BOMON.TenBM, TienDo, KetQua from DeTaiNCKH, BOMON where (DeTaiNCKH.MABM  = BOMON.MABM and BOMON.MAKHOA = @makhoa) and (DeTaiNCKH.Cap = cap and BOMON.TenBM = @bm)
end
GO
/****** Object:  StoredProcedure [dbo].[khoa_AllDT_theo_CapBMTT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[khoa_AllDT_theo_CapBMTT] @makhoa char(10), @bm nvarchar(50), @cap nvarchar(50), @tt nvarchar(50)
as
begin
select MADT, TenDT,  Cap,NgayBD, NgayNT, TrangThai, BOMON.TenBM, TienDo, KetQua from DeTaiNCKH, BOMON where (DeTaiNCKH.MABM  = BOMON.MABM and BOMON.MAKHOA = @makhoa) and DeTaiNCKH.TrangThai = @tt and (BOMON.TenBM = @bm and DeTaiNCKH.Cap = @cap)
end
GO
/****** Object:  StoredProcedure [dbo].[khoa_AllDT_theo_CapTT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[khoa_AllDT_theo_CapTT] @makhoa char(10), @cap nvarchar(50), @tt nvarchar(50)
as
begin
select MADT, TenDT, Cap, NgayBD, NgayNT, TrangThai, BOMON.TenBM, TienDo, KetQua from DeTaiNCKH, BOMON where (DeTaiNCKH.MABM  = BOMON.MABM and BOMON.MAKHOA = @makhoa) and (DeTaiNCKH.Cap = @cap and DeTaiNCKH.TrangThai = @tt)
end
GO
/****** Object:  StoredProcedure [dbo].[khoa_AllDT_theo_TT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[khoa_AllDT_theo_TT] @makhoa char(10), @tt nvarchar(50)
as
begin
select MADT, TenDT,Cap, NgayBD, NgayNT, TrangThai, BOMON.TenBM, TienDo, KetQua from DeTaiNCKH, BOMON where (DeTaiNCKH.MABM  = BOMON.MABM and BOMON.MAKHOA = @makhoa) and  DeTaiNCKH.TrangThai = @tt
end
GO
/****** Object:  StoredProcedure [dbo].[khoa_getDTbyMGV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[khoa_getDTbyMGV] @magv char(10)
as
begin
	select MADT as N'Mã đề tài',TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',MAHD as N'Mã hội đồng' From DeTaiNCKH where MADT in (select MADT from GVTGDT where MAGV = @magv)
end
GO
/****** Object:  StoredProcedure [dbo].[NDDangNhap]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[NDDangNhap] @userName char(20),@passwords char(20)
as
begin
	select MGV,TenQuyen from Users join QuyenND on Users.MQ = QuyenND.ID where Passwords = @passwords and UserName = @userName 
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_add_cn]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_add_cn] @mdt char(10),@mgv char(10)
as
begin
	insert into GVTGDT(MADT,MAGV,Vaitro) values(@mdt,@mgv,N'Chủ nhiệm')
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_add_tk]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_add_tk] @user char(20),@pass char(20),@mgv char(10),@mq char(10)
as 
begin
 insert into Users(UserName,Passwords,MGV,MQ)
 values(@user,@pass,@mgv,@mq)
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_cap_kp]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pkhcn_cap_kp] 
as
begin
	update DeTaiNCKH set KinhPhi = 300000 where  TienDo=50
	

end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_delete_cn]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pkhcn_delete_cn] @mdt char(10)
as
begin
	delete from GVTGDT where  MADT = @mdt
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_fillter_research]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pkhcn_fillter_research] @ma char(10),@nam int,@tt nvarchar(50)
as
begin
	if @ma = '' and @nam = '' and @tt <> ''
		select MADT as N'Mã đề tài' ,TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ' from DeTaiNCKH where TrangThai= @tt order by YEAR(NgayNT) desc
	if @ma = '' and @nam <> '' and @tt=''
		select MADT as N'Mã đề tài' ,TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ'
		from DeTaiNCKH where year(NgayBD) = @nam
	if @ma <> '' and @nam = '' and @tt=''
		SELECT  MADT as N'Mã đề tài' ,TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ'
		FROM dbo.DeTaiNCKH, dbo.BOMON
		WHERE  dbo.DeTaiNCKH.MABM = dbo.BOMON.MABM  AND dbo.BOMON.MAKHOA= @ma
	if @ma = '' and @nam <> '' and @tt <>''
		select  MADT as N'Mã đề tài' ,TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ' from DeTaiNCKH where year(NgayBD) = @nam and TrangThai = @tt order by YEAR(NgayNT) desc
	if @ma <> '' and @nam <> '' and @tt=''
		select  MADT as N'Mã đề tài' ,TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ' from DeTaiNCKH where MABM in (select MABM from BOMON where MAKHOA = @ma) and year(NgayBD) = @nam order by YEAR(NgayNT) desc
	if @ma <> '' and @nam = '' and @tt <> ''
		select  MADT as N'Mã đề tài' ,TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ' from DeTaiNCKH where MABM in (select MABM from BOMON where MAKHOA = @ma) and TrangThai = @tt order by YEAR(NgayNT) desc
	if @ma <> '' and @nam <> '' and @tt <>''
		select  MADT as N'Mã đề tài' ,TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ' from DeTaiNCKH where MABM in (select MABM from BOMON where MAKHOA = @ma) and TrangThai = @tt and year(NgayBD) = @nam order by YEAR(NgayNT) desc
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_fillterBB]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pkhcn_fillterBB] @tenKhoa nvarchar(50) , @tc nvarchar(50),@cn nvarchar(50),@nam int
as
begin
	if @tenKhoa = '' and @tc = '' and @cn = '' and @nam = ''
		select MABB as N'Mã bài báo',TenBaiBao as N'Tên bài báo',MADT as N'Mã dề tài',BaiBaoKH.ChuyenNganh as N'Chuyên ngành',
		NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',Link from (BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT=DeTaiNCKH.MADT)
	if @tenKhoa = '' and @tc = '' and @cn = '' and @nam <> ''
		select MABB as N'Mã bài báo',TenBaiBao as N'Tên bài báo',MADT as N'Mã dề tài',BaiBaoKH.ChuyenNganh as N'Chuyên ngành',
		NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',Link from (BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT=DeTaiNCKH.MADT) where YEAR(NgayDang) = @nam
	if @tenKhoa = '' and @tc = '' and @cn <> '' and @nam = ''
		select MABB as N'Mã bài báo',TenBaiBao as N'Tên bài báo',MADT as N'Mã dề tài',BaiBaoKH.ChuyenNganh as N'Chuyên ngành',
		NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',Link from (BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT=DeTaiNCKH.MADT) where BaiBaoKH.ChuyenNganh = @cn
	if @tenKhoa = '' and @tc <> '' and @cn = '' and @nam = ''
		select MABB as N'Mã bài báo',TenBaiBao as N'Tên bài báo',MADT as N'Mã dề tài',BaiBaoKH.ChuyenNganh as N'Chuyên ngành',
		NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',Link from (BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT=DeTaiNCKH.MADT) where TapChi = @tc
	if @tenKhoa <> '' and @tc = '' and @cn = '' and @nam = ''
		select MABB as N'Mã bài báo',TenBaiBao as N'Tên bài báo',MADT as N'Mã dề tài',BaiBaoKH.ChuyenNganh as N'Chuyên ngành',
		NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',Link from (BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT=DeTaiNCKH.MADT)
		where MABM in (select MABM from BOMON where MAKHOA in (select MAKHOA from KHOA where TenKhoa = @tenKhoa))
	if @tenKhoa = '' and @tc = '' and @cn <> '' and @nam <> ''
		select MABB as N'Mã bài báo',TenBaiBao as N'Tên bài báo',MADT as N'Mã dề tài',BaiBaoKH.ChuyenNganh as N'Chuyên ngành',
		NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',Link from (BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT=DeTaiNCKH.MADT) where YEAR(NgayDang) = @nam and BaiBaoKH.ChuyenNganh = @cn
	if @tenKhoa = '' and @tc <> '' and @cn = '' and @nam <> ''
		select MABB as N'Mã bài báo',TenBaiBao as N'Tên bài báo',MADT as N'Mã dề tài',BaiBaoKH.ChuyenNganh as N'Chuyên ngành',
		NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',Link from (BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT=DeTaiNCKH.MADT) where YEAR(NgayDang) = @nam and TapChi = @tc
 	if @tenKhoa <> '' and @tc = '' and @cn = '' and @nam <> ''
		select MABB as N'Mã bài báo',TenBaiBao as N'Tên bài báo',MADT as N'Mã dề tài',BaiBaoKH.ChuyenNganh as N'Chuyên ngành',
		NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',Link from (BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT=DeTaiNCKH.MADT) where YEAR(NgayDang) = @nam and
		MABM in (select MABM from BOMON where MAKHOA in (select MAKHOA from KHOA where TenKhoa = @tenKhoa))
	if @tenKhoa = '' and @tc <> '' and @cn <> '' and @nam = ''
		select MABB as N'Mã bài báo',TenBaiBao as N'Tên bài báo',MADT as N'Mã dề tài',BaiBaoKH.ChuyenNganh as N'Chuyên ngành',
		NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',Link from (BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT=DeTaiNCKH.MADT) where BaiBaoKH.ChuyenNganh = @cn and TapChi = @tc
	if @tenKhoa <> '' and @tc = '' and @cn <> '' and @nam = ''
		select MABB as N'Mã bài báo',TenBaiBao as N'Tên bài báo',MADT as N'Mã dề tài',BaiBaoKH.ChuyenNganh as N'Chuyên ngành',
		NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',Link from (BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT=DeTaiNCKH.MADT) where BaiBaoKH.ChuyenNganh = @cn and
		MABM in (select MABM from BOMON where MAKHOA in (select MAKHOA from KHOA where TenKhoa = @tenKhoa))
	if @tenKhoa <> '' and @tc <> '' and @cn = '' and @nam = ''
		select MABB as N'Mã bài báo',TenBaiBao as N'Tên bài báo',MADT as N'Mã dề tài',BaiBaoKH.ChuyenNganh as N'Chuyên ngành',
		NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',Link from (BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT=DeTaiNCKH.MADT) where TapChi = @tc and
		MABM in (select MABM from BOMON where MAKHOA in (select MAKHOA from KHOA where TenKhoa = @tenKhoa))
	if @tenKhoa = '' and @tc <> '' and @cn <> '' and @nam <> ''
	select MABB as N'Mã bài báo',TenBaiBao as N'Tên bài báo',MADT as N'Mã dề tài',BaiBaoKH.ChuyenNganh as N'Chuyên ngành',
		NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',Link from (BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT=DeTaiNCKH.MADT) where YEAR(NgayDang) = @nam and BaiBaoKH.ChuyenNganh = @cn
		and TapChi = @tc
	if @tenKhoa <> '' and @tc = '' and @cn <> '' and @nam <> ''
		select MABB as N'Mã bài báo',TenBaiBao as N'Tên bài báo',MADT as N'Mã dề tài',BaiBaoKH.ChuyenNganh as N'Chuyên ngành',
		NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',Link from (BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT=DeTaiNCKH.MADT) where YEAR(NgayDang) = @nam and BaiBaoKH.ChuyenNganh = @cn
		and MABM in (select MABM from BOMON where MAKHOA in (select MAKHOA from KHOA where TenKhoa = @tenKhoa))
	if @tenKhoa <> '' and @tc <> '' and @cn <> '' and @nam = ''
		select MABB as N'Mã bài báo',TenBaiBao as N'Tên bài báo',MADT as N'Mã dề tài',BaiBaoKH.ChuyenNganh as N'Chuyên ngành',
		NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',Link from (BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT=DeTaiNCKH.MADT) where TapChi = @tc and BaiBaoKH.ChuyenNganh = @cn and
		MABM in (select MABM from BOMON where MAKHOA in (select MAKHOA from KHOA where TenKhoa = @tenKhoa))
	if @tenKhoa <> '' and @tc <> '' and @cn <> '' and @nam <> ''
		select MABB as N'Mã bài báo',TenBaiBao as N'Tên bài báo',MADT as N'Mã dề tài',BaiBaoKH.ChuyenNganh as N'Chuyên ngành',
		NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',Link from (BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT=DeTaiNCKH.MADT)where YEAR(NgayDang) = @nam and BaiBaoKH.ChuyenNganh = @cn and TapChi = @tc
		and MABM in (select MABM from BOMON where MAKHOA in (select MAKHOA from KHOA where TenKhoa = @tenKhoa))
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_get_cap_dt]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_get_cap_dt] @madt char(10)
as
begin
	select Cap from DeTaiNCKH where MADT= @madt
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_get_chuyennganh]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_get_chuyennganh]
as
begin
 select distinct(ChuyenNganh) from BaiBaoKH
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_get_tacgia]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pkhcn_get_tacgia] @mabb char(10)
as
begin
select MAGV as N'Mã giáo viên',TenGV as N'Tên giáo viên',GioiTinh as N'Giới tính',CapBac as N'Cấp bậc',ChucVu as N'Chức vụ',Vaitro as N'Vai trò' from GV,GVVietBB where MAGV = MGV and MBB = @mabb
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_get_tc]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_get_tc]
as
begin
	select distinct(TapChi) from BaiBaoKH
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_get_year_bb]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pkhcn_get_year_bb] 
as
begin
	select distinct(YEAR(NgayDang)) from BaiBaoKH order by YEAR(NgayDang) desc
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_getAllDepartment]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_getAllDepartment]
as
begin
	select MABM from BOMON
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_getAllMaKhoa]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pkhcn_getAllMaKhoa]
as
begin
 select MAKHOA,TenKhoa from KHOA
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_getAllMGV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_getAllMGV]
as
begin
	select MAGV from GV
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_getAllTK]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pkhcn_getAllTK] 
as
begin
	select UserName,Passwords,MGV as N'Mã giáo viên',TenQuyen as N'Quyền' from Users join QuyenND on Users.MQ = QuyenND.ID
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_getAllUser]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_getAllUser]
as
begin
	select UserName from Users
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_getDtbyMDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_getDtbyMDT] @madt char(10)
as
begin
	select * from DeTaiNCKH where MADT = @madt
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_getNNTbyMDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_getNNTbyMDT] @madt char(10)
as
begin
	select NgayNT from DeTaiNCKH where MADT = @madt
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_getTenBm]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_getTenBm] @ten nvarchar(40)
as
begin
	select TenBM from BOMON where MAKHOA in (select MAKHOA from KHOA where TenKhoa=@ten)
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_getTenKhoa]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_getTenKhoa] 
as
begin
	select TenKhoa from KHOA
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_getTVBYMHD]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_getTVBYMHD] @mahd char(10)
as
begin
	select MAGV as N'Mã giáo viên' ,TenGV as N'Tên giáo viên' ,NS as N'Năm sinh',GioiTinh as N'Giới tính',CapBac as N'Cấp bâc',ChucVu as N'Chức vụ',Vaitro as N'Vai trò' from GV join GVThamGiaHD on GV.MAGV = GVThamGiaHD.MGV where GVThamGiaHD.MHD = @mahd
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_kinh_phi]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pkhcn_kinh_phi]
as
begin
	select MaDT as N'Mã đề tài',TenDT as N'Tên đề tài',KinhPhi as N'Kinh phí',TienDo as N'Tiến độ' from DeTaiNCKH
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_lay_bb_mdt]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_lay_bb_mdt] @madt char(10)
as

begin
	select MABB as N'Mã bài báo', ChuyenNganh as N'Chuyên nghành', NgayDang as N'Ngày đăng',TapChi as N'Tạp chí',TenBaiBao as N'Tên bài báo',Link from BaiBaoKH where MDT = @madt and XacNhan = N'Đã xác minh'
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_lay_dthd_ht]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_lay_dthd_ht] @hd char(10)
as
begin
	select * from DeTaiNCKH where MAHD = @hd and NgayNT > getdate() 
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_lay_dv]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_lay_dv] @madt char(10)
as
begin
	select TenBM,TenKhoa from BOMON ,DeTaiNCKH,KHOA where DeTaiNCKH.MABM = BOMON.MABM and KHOA.MAKHOA = BOMON.MAKHOA and MADT = @madt 
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_lay_gvTGDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_lay_gvTGDT]
as
begin
	select GV.MAGV as N'Mã giáo viên',TenGV as N'Tên giáo viên',GioiTinh as N'Giới tính',CapBac as N'Cấp bậc',ChucVu as N'Chức vụ' from GV where MAGV in (select MAGV from GVTGDT)
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_lay_kp_mk]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pkhcn_lay_kp_mk] @tenkhoa nvarchar(50) 
as
begin
	select MaDT as N'Mã đề tài',TenDT N'Tên đề tài',KinhPhi as N'Kinh phí',TienDo as N'Tiến độ'
	from DeTaiNCKH where MABM in (select MABM from BOMON where MAKHOA in (select MAKHOA from KHOA where TenKhoa  = @tenkhoa)) and KinhPhi is NULL
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_lay_mk_tenK]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_lay_mk_tenK]
as
begin
	select MAKHOA,TenKhoa from KHOA
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_lay_ten_gv]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_lay_ten_gv] @magv char(10)
as
begin
	select TenGV from GV where MAGV = @magv
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_lay_ten_khoa]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_lay_ten_khoa] @makhoa char(10)
as
begin
	select TenKhoa from KHOA where MAKHOA = @makhoa
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_lay_tt_dt]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_lay_tt_dt] @madt char(10)
as
begin
	select * from DeTaiNCKH where MADT = @madt
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_nt_dt]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pkhcn_nt_dt] @xeploai nvarchar(50),@madt char(10)
as
begin
	update DeTaiNCKH set KetQua = @xeploai,TrangThai = N'Đã hoàn thành' where MADT = @madt
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_sua_tk]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_sua_tk] @user char(20) , @pass char(20)
as
begin
	update Users set Passwords=@pass where UserName = @user
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_suaHD]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pkhcn_suaHD] @mahd char(10), @cap nvarchar(50),@makhoa char(10),@sqd nvarchar(50)
as
begin
	update HoiDong set Cap = @cap,MaKhoa = @makhoa,SQDThanhLap = @sqd where MAHD = @mahd
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_them_dt_hoidong]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pkhcn_them_dt_hoidong] @madt char(10),@mhd char(10)
as
begin
	update DeTaiNCKH set MaHD = @mhd where MADT = @madt
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_view_listTV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_view_listTV] @madt char(10)
as
begin
	select  * from (select MAGV ,TenGV as N'Tên giáo viên',NS as N'Năm sinh',GioiTinh as N'Giới tính',CapBac as N'Cấp bậc',ChucVu as N'Chức vụ',TenBM as N'Tên bộ môn',TenKhoa as N'Tên khoa' from (select MAGV,TenGV,NS,GioiTinh,CapBac,ChucVu,TenBM,BOMON.MAKHOA from GV join BOMON on GV.MABM=BOMON.MABM) as TV join KHOA on TV.MAKHOA = KHOA.MAKHOA ) as tv where  tv.MAGV in(select MAGV from GVTGDT where MADT = @madt)
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_xoa_TK]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_xoa_TK] @username nvarchar(50)
as
begin
	delete from Users where UserName = @username
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_xoa_tv_TGDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_xoa_tv_TGDT] @magv char(10),@mdt char(10)
as
begin
	delete from GVTGDT where MADT = @mdt and MAGV = @magv
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_xuat_phieu_kq]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_xuat_phieu_kq] @year int ,@makhoa char(10)
as
begin
	select MADT as N'Tên đề tài', TenDT as N'Tên đề tài',KetQua as N'Kết quả' from DeTaiNCKH where YEAR(NgayNT) = @year and MABM in( select MABM from BOMON where MAKHOA = @makhoa)
end
GO
/****** Object:  StoredProcedure [dbo].[pkhcn_XuatKQDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pkhcn_XuatKQDT] @nam int,@ten nvarchar(50)
as
begin
	select DeTaiNCKH.MADT,TenDT,Cap,TenGV,KetQua from GV,GVTGDT, DeTaiNCKH join BOMON on DeTaiNCKH.MABM=BOMON.MABM where TrangThai =N'Đã hoàn thành' and YEAR(NgayNT) = @nam and MAKHOA in (select MAKHOA from KHOA Where TenKhoa =@ten) and GVTGDT.Vaitro =N'Chủ nhiệm' and GVTGDT.MADT=DeTaiNCKH.MADT and GVTGDT.MAGV = GV.MAGV
end
GO
/****** Object:  StoredProcedure [dbo].[prd_khoa_deleteGV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_khoa_deleteGV]
@magv VARCHAR(10)
AS 
BEGIN
DELETE FROM dbo.Users 
WHERE MGV = @magv

UPDATE dbo.BOMON
SET MACN = NULL
WHERE MACN =@magv

UPDATE dbo.KHOA
SET MACN = NULL 
WHERE MACN= @magv

DELETE FROM dbo.GVTGDT
WHERE dbo.GVTGDT.MAGV = @magv

DELETE FROM dbo.GVThamGiaHD
WHERE dbo.GVThamGiaHD.MGV = @magv

DELETE FROM dbo.GVVietBB
WHERE dbo.GVVietBB.MGV = @magv

DELETE FROM dbo.GV
WHERE gv.MAGV =@maGV

END
GO
/****** Object:  StoredProcedure [dbo].[prd_khoa_DSchunhiemDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_khoa_DSchunhiemDT]
@makhoa CHAR(10)
AS
BEGIN
SELECT dbo.GV.MAGV, dbo.GV.TenGV , dbo.GV.NS , dbo.GV.GioiTinh , dbo.GV.CapBac, dbo.GV.ChucVu, dbo.GV.DTL, BOMON.TenBM 
FROM dbo.GV, dbo.GVTGDT, dbo.DeTaiNCKH, dbo.BOMON
WHERE dbo.GVTGDT.MAGV = dbo.GV.MAGV AND dbo.GVTGDT.MADT= dbo.DeTaiNCKH.MADT AND dbo.GV.MABM = dbo.BOMON.MABM 
AND dbo.BOMON.MAKHOA = @makhoa AND dbo.GVTGDT.Vaitro = N'Chủ nhiệm'
END
GO
/****** Object:  StoredProcedure [dbo].[prd_khoa_getAllResearch]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_khoa_getAllResearch]
@makhoa NVARCHAR(10)
AS
BEGIN 
SELECT MADT, TenDT, cap, NgayBD, NgayNT, TrangThai,BOMON.TenBM, TienDo, KetQua
FROM dbo.DeTaiNCKH, dbo.BOMON
WHERE  dbo.DeTaiNCKH.MABM = dbo.BOMON.MABM  AND dbo.BOMON.MAKHOA= @makhoa
END
GO
/****** Object:  StoredProcedure [dbo].[prd_khoa_getAllStaff]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[prd_khoa_getAllStaff]
@makhoa CHAR(10)
AS
BEGIN 
SELECT dbo.GV.MAGV AS N'Mã GV', dbo.GV.TenGV AS N'Họ tên', dbo.GV.NS AS N'Ngày sinh', dbo.GV.GioiTinh AS N'Giới tính',
gv.CapBac AS N'Cấp bậc', dbo.GV.ChucVu AS N'Chức vụ', gv.DTL AS N'ĐTL', dbo.BOMON.TenBM AS N'Tên bộ môn'
FROM dbo.GV, dbo.BOMON
Where gv.MABM=dbo.BOMON.MABM AND dbo.BOMON.MAKHOA = @makhoa
END
GO
/****** Object:  StoredProcedure [dbo].[prd_khoa_getTenkhoa]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[prd_khoa_getTenkhoa]
@makhoa CHAR(10)
AS
BEGIN
select KHOA.TenKhoa from KHOA where KHOA.MAKHOA = @makhoa
END
GO
/****** Object:  StoredProcedure [dbo].[prd_khoa_insertGV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_khoa_insertGV]
@magv CHAR(10),
@tengv NVARCHAR(50),
@ns DATE,
@gt NCHAR(10),
@capbac NVARCHAR(50),
@chucvu NVARCHAR(50),
@DTL FLOAT,
@tenbm nvarCHAR(50)
AS
BEGIN 
INSERT INTO dbo.GV
(
    MAGV,
    TenGV,
    NS,
    GioiTinh,
    CapBac,
    ChucVu,
    DTL,
    MABM
)
VALUES
(   @magv,        -- MAGV - char(10)
    @tengv,       -- TenGV - nvarchar(50)
    @ns, -- NS - date
    @gt,       -- GioiTinh - nchar(10)
    @capbac,       -- CapBac - nvarchar(50)
    @chucvu,       -- ChucVu - nvarchar(50)
    @DTL,       -- DTL - float
    (SELECT dbo.BOMON.MABM FROM dbo.BOMON WHERE dbo.BOMON.TenBM = @tenbm)         -- MABM - char(10)
   )
END
GO
/****** Object:  StoredProcedure [dbo].[prd_khoa_requestCancelResearch]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[prd_khoa_requestCancelResearch]
@ma NVARCHAR(10)
AS 
BEGIN
UPDATE dbo.DeTaiNCKH
SET TrangThai = N'Yêu cầu hủy'  WHERE MADT = @ma 
END
GO
/****** Object:  StoredProcedure [dbo].[prd_khoa_themDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_khoa_themDT]
@ma NVARCHAR(10),
@ten NVARCHAR(max),
@cap NVARCHAR(50),
@chuyennganh NVARCHAR(50),
@sqdtlap NVARCHAR(50),
@ngaybd DATE,
@ngayNT DATE,
@loaisp nvarchar(50),
@mabm nvarchar(10)
AS 
BEGIN
INSERT INTO dbo.DeTaiNCKH
(
    MADT,
    TenDT,
    ChuyenNganh,
    Cap,
    SQDThanhLap,
    NgayBD,
    NgayNT,
    TrangThai,
    LoaiSP,
    MABM,
	TienDo
)
VALUES
(   @ma,        -- MADT - char(10)
    @ten,       -- TenDT - nvarchar(50)
    @chuyennganh,       -- ChuyenNganh - nvarchar(50)
    @cap,       -- Cap - nvarchar(50)
    @sqdtlap,       -- SQDThanhLap - nvarchar(50)
    @ngaybd, -- NgayBD - date
    @ngayNT, -- NgayNT - date
    N'Chờ phê duyệt',       -- TrangThai - nvarchar(50)
    @loaisp,       -- LoaiSP - nvarchar(50)
    @mabm,       -- MABM - char(10)
	0		   -- TienDo - int
    )
END
GO
/****** Object:  StoredProcedure [dbo].[prd_khoa_thongkeBBtheoBoMon_nam]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[prd_khoa_thongkeBBtheoBoMon_nam]
@makhoa CHAR(10),
@year INT
AS
BEGIN
SELECT TenBM AS N'Bộ môn' , COUNT(TenBaiBao) AS N'Số lượng bài báo'
FROM dbo.BaiBaoKH, dbo.BOMON, dbo.DeTaiNCKH
WHERE dbo.BaiBaoKH.MDT = dbo.DeTaiNCKH.MADT AND DeTaiNCKH.MABM = BOMON.MABM AND dbo.BOMON.MAKHOA = @makhoa AND YEAR(dbo.BaiBaoKH.NgayDang) = @year
GROUP BY TenBM
END
GO
/****** Object:  StoredProcedure [dbo].[prd_khoa_thongkeBBtheoCN]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[prd_khoa_thongkeBBtheoCN]
@makhoa CHAR(10), @year nvarchar(10)
AS
BEGIN
SELECT dbo.BaiBaoKH.ChuyenNganh AS N'Chuyên ngành' , COUNT(TenBaiBao) AS N'Số Lượng'
FROM dbo.BaiBaoKH, dbo.DeTaiNCKH, dbo.BOMON
WHERE dbo.BaiBaoKH.MDT = dbo.DeTaiNCKH.MADT AND dbo.DeTaiNCKH.MABM = dbo.BOMON.MABM AND dbo.BOMON. MAKHOA = @makhoa and year(dbo.BaiBaoKH.NgayDang) = @year
GROUP BY dbo.BaiBaoKH.ChuyenNganh
ORDER BY dbo.BaiBaoKH.ChuyenNganh ASC
END
GO
/****** Object:  StoredProcedure [dbo].[prd_khoa_thongkeBBtheoTapChi]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[prd_khoa_thongkeBBtheoTapChi]
@makhoa CHAR(10), @year nvarchar(10)
AS
BEGIN
SELECT dbo.BaiBaoKH.TapChi AS N'Tạp chí' , COUNT(TenBaiBao) AS N'Số Lượng'
FROM dbo.BaiBaoKH, dbo.DeTaiNCKH, dbo.BOMON
WHERE dbo.BaiBaoKH.MDT = dbo.DeTaiNCKH.MADT AND dbo.DeTaiNCKH.MABM = dbo.BOMON.MABM AND dbo.BOMON. MAKHOA = @makhoa and year(dbo.BaiBaoKH.NgayDang) = @year
GROUP BY dbo.BaiBaoKH.TapChi
ORDER BY dbo.BaiBaoKH.TapChi ASC
END
GO
/****** Object:  StoredProcedure [dbo].[prd_khoa_thongkeKQDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_khoa_thongkeKQDT]
@ma CHAR(10),
@year INT
AS
BEGIN
SELECT dbo.DeTaiNCKH.KetQua AS N'Kết quả', COUNT(dbo.DeTaiNCKH.KetQua) AS N'Số lượng'
FROM dbo.DeTaiNCKH, dbo.BOMON
WHERE dbo.DeTaiNCKH.MABM = dbo.BOMON.MABM AND dbo.BOMON.MAKHOA = @ma AND YEAR(dbo.DeTaiNCKH.NgayNT)=@year
GROUP BY dbo.DeTaiNCKH.Ketqua
END

GO
/****** Object:  StoredProcedure [dbo].[prd_Khoa_XemDSTV_Theo_MaDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[prd_Khoa_XemDSTV_Theo_MaDT]
@ma NVARCHAR(10)
AS
BEGIN
SELECT GV.MAGV as 'Mã GV', GV.TenGV as 'Họ Tên', GVTGDT.Vaitro as 'Vai trò' FROM dbo.GVTGDT, GV WHERE MADT = @ma and GV.MAGV = GVTGDT.MAGV
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_chuyenDT_HDmoi]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_chuyenDT_HDmoi]
@mahd_cu CHAR(10),
@mahd_moi CHAR(10),
@madt CHAR(10)
AS
BEGIN
UPDATE dbo.DeTaiNCKH
SET dbo.DeTaiNCKH.MAHD = @mahd_moi
WHERE dbo.DeTaiNCKH.MADT = @madt AND dbo.DeTaiNCKH.MAHD = @mahd_cu
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_chuyenGV_HDmoi]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_chuyenGV_HDmoi]
@mahd_cu CHAR(10),
@mahd_moi CHAR(10),
@magv CHAR(10)
AS
BEGIN
UPDATE dbo.GVThamGiaHD
SET dbo.GVThamGiaHD.MHD = @mahd_moi
WHERE dbo.GVThamGiaHD.MHD = @mahd_cu AND dbo.GVThamGiaHD.MGV = @magv
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_danhsachDT_cuaHD]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_danhsachDT_cuaHD]
@maHD CHAR(10)
AS
BEGIN
SELECT MADT as N'Mã đề tài',TenDT as N'Tên đề tài',Cap as N'Cấp',NgayNT as N'Ngày nghiệm thu',LoaiSP as N'Loại sản phẩm' FROM dbo.DeTaiNCKH 
WHERE dbo.DeTaiNCKH.MAHD = @maHD order by NgayNT desc 
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_danhsachHD]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_danhsachHD]
AS
BEGIN
SELECT * from HoiDong
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_deleteResearch]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[prd_pkhcn_deleteResearch]
@ma NVARCHAR(10)
AS 
BEGIN
UPDATE dbo.BaiBaoKH
SET MDT =NULL WHERE MDT = @ma 
DELETE FROM dbo.GVTGDT 
WHERE MADT = @ma 
DELETE FROM dbo.DeTaiNCKH WHERE MADT =@ma
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_getAllStaff]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[prd_pkhcn_getAllStaff]
@makhoa CHAR(10)
AS
BEGIN 
SELECT dbo.GV.MAGV AS N'Mã GV', dbo.GV.TenGV AS N'Họ tên', dbo.GV.NS AS N'Ngày sinh', dbo.GV.GioiTinh AS N'Giới tính',
gv.CapBac AS N'Cấp bậc', dbo.GV.ChucVu AS N'Chức vụ', gv.DTL AS N'ĐTL', dbo.BOMON.TenBM AS N'Tên bộ môn'
FROM dbo.GV, dbo.BOMON
Where gv.MABM=dbo.BOMON.MABM AND dbo.BOMON.MAKHOA = @makhoa and MAGV in(select MAGV from GVTGDT)
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_suaBB]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_suaBB]
@mabb CHAR(10),
@tenBB NVARCHAR(50),
@chuyennganh NVARCHAR(50),
@ngaydang DATE,
@tapchi NVARCHAR(50),
@madt CHAR(10),
@magv char(10)
AS
BEGIN
UPDATE dbo.BaiBaoKH
SET 
TenBaiBao = @tenBB,
ChuyenNganh =@chuyennganh,
NgayDang =@ngaydang,
TapChi =@tapchi,
MDT = @madt
WHERE MABB = @mabb
update GVVietBB 
set
MGV = @magv
where MBB=@mabb
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_suaHD]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_suaHD]
@mahd CHAR(10),
@sqdtlap NVARCHAR(50),
@cap NVARCHAR(50)
AS
BEGIN
UPDATE dbo.HoiDong
SET SQDThanhLap = @sqdtlap,
 Cap = @cap
 WHERE MAHD = @mahd

END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_suavaitroGV_HD]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_suavaitroGV_HD]
@mahd CHAR(10),
@magv CHAR(10),
@vaitro NVARCHAR(50)
AS
BEGIN
UPDATE dbo.GVThamGiaHD
SET dbo.GVThamGiaHD.Vaitro = @vaitro
WHERE dbo.GVThamGiaHD.MHD = @mahd AND
dbo.GVThamGiaHD.MGV = @magv 
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_themBB]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_themBB]
@mabb CHAR(10),
@tenBB NVARCHAR(50),
@chuyennganh NVARCHAR(50),
@ngaydang DATE,
@tapchi NVARCHAR(50),
@madt CHAR(10),
@magv char(10),
@Vaitro nvarchar(10)
AS
BEGIN
INSERT INTO dbo.BaiBaoKH
(
    MABB,
    TenBaiBao,
    ChuyenNganh,
    NgayDang,
    TapChi,
    MDT
)
VALUES
(   @mabb,        -- MABB - char(10)
    @tenBB,       -- TenBaiBao - nvarchar(50)
    @chuyennganh,       -- ChuyenNganh - nvarchar(50)
    @ngaydang, -- NgayDang - date
    @tapchi,       -- TapChi - nvarchar(50)
	@madt         -- MDT - char(10)
    )
insert into GVVietBB (MBB,MGV,Vaitro)
values(@mabb,@magv,@Vaitro)

END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_themDT_vaoHD]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[prd_pkhcn_themDT_vaoHD]
@mahd CHAR(10),
@madt CHAR(10)
AS
BEGIN
UPDATE dbo.DeTaiNCKH
SET dbo.DeTaiNCKH.MAHD = @mahd 
WHERE dbo.DeTaiNCKH.MADT = @madt
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_themGV_vaoHD]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_themGV_vaoHD]
@mahd CHAR(10),
@magv CHAR(10),
@vaitro NVARCHAR(50)
AS
BEGIN
INSERT INTO dbo.GVThamGiaHD
(
    MHD,
    MGV,
    Vaitro
)
VALUES
(   @mahd,  -- MHD - char(10)
    @magv,  -- MGV - char(10)
    @vaitro -- Vaitro - nvarchar(50)
    )
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_themHD]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_themHD]
@mahd CHAR(10),
@sqdtlap NVARCHAR(50),
@cap NVARCHAR(50),
@maKhoa char(10)
AS
BEGIN
INSERT INTO dbo.HoiDong
(
    MAHD,
    SQDThanhLap,
    Cap,
	MaKhoa
)
VALUES
(   @mahd,  -- MAHD - char(10)
    @sqdtlap, -- SQDThanhLap - nvarchar(50)
    @cap,
	@makhoa-- Cap - nvarchar(50)
    )
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_thongkeBBtheoKhoa]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[prd_pkhcn_thongkeBBtheoKhoa]
AS
BEGIN
SELECT dbo.KHOA.TenKhoa, COUNT(DISTINCT dbo.BaiBaoKH.TenBaiBao) AS SLBB
FROM dbo.BaiBaoKH, dbo.KHOA, dbo.DeTaiNCKH, dbo.BOMON
WHERE dbo.BaiBaoKH.MDT = dbo.DeTaiNCKH.MADT AND dbo.DeTaiNCKH.MABM=dbo.BOMON.MABM AND dbo.BOMON.MAKHOA=dbo.KHOA.MAKHOA
GROUP BY dbo.KHOA.TenKhoa
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_thongkeBBtheoKhoa_nam]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_thongkeBBtheoKhoa_nam]
@year INT 
AS
BEGIN
SELECT dbo.KHOA.TenKhoa, COUNT(DISTINCT dbo.BaiBaoKH.TenBaiBao) AS SLBB
FROM dbo.BaiBaoKH, dbo.KHOA, dbo.DeTaiNCKH, dbo.BOMON
WHERE dbo.BaiBaoKH.MDT = dbo.DeTaiNCKH.MADT AND dbo.DeTaiNCKH.MABM=dbo.BOMON.MABM AND dbo.BOMON.MAKHOA=dbo.KHOA.MAKHOA AND year(NgayDang)=@year
GROUP BY dbo.KHOA.TenKhoa
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_thongkeKQDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_thongkeKQDT]
@year INT
AS
BEGIN
SELECT dbo.DeTaiNCKH.KetQua AS N'Kết quả', COUNT(dbo.DeTaiNCKH.KetQua) AS N'Số lượng'
FROM dbo.DeTaiNCKH
WHERE YEAR(dbo.DeTaiNCKH.NgayNT)=@year
GROUP BY dbo.DeTaiNCKH.Ketqua
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_thongkeKQDTALL]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_thongkeKQDTALL]
AS
BEGIN
SELECT dbo.DeTaiNCKH.KetQua AS N'Kết quả', COUNT(dbo.DeTaiNCKH.KetQua) AS N'Số lượng'
FROM dbo.DeTaiNCKH
WHERE YEAR(dbo.DeTaiNCKH.NgayNT) <=YEAR(getdate())
GROUP BY dbo.DeTaiNCKH.Ketqua
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_thongkeKQDTK]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_thongkeKQDTK]
@tenKhoa nvarchar(50)
AS
BEGIN
SELECT dbo.DeTaiNCKH.KetQua AS N'Kết quả', COUNT(dbo.DeTaiNCKH.KetQua) AS N'Số lượng'
FROM dbo.DeTaiNCKH
WHERE MABM in (select MABM from BOMON where MAKHOA in(select MAKHOA from KHOA where TenKhoa = @tenKhoa))
GROUP BY dbo.DeTaiNCKH.Ketqua
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_thongkeKQDTKhoa]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_thongkeKQDTKhoa]
@year INT,
@tenkhoa nvarchar(50)
AS
BEGIN
SELECT dbo.DeTaiNCKH.KetQua AS N'Kết quả', COUNT(dbo.DeTaiNCKH.KetQua) AS N'Số lượng'
FROM dbo.DeTaiNCKH
WHERE YEAR(dbo.DeTaiNCKH.NgayNT)=@year and MABM in (select MABM from BOMON where MAKHOA in (select MAKHOA from KHOA where TenKhoa = @tenkhoa))
GROUP BY dbo.DeTaiNCKH.Ketqua
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_thongkeSLBB_tungnam]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_thongkeSLBB_tungnam]
AS
BEGIN
SELECT YEAR(dbo.BaiBaoKH.NgayDang) AS N'Năm' , COUNT(*) AS N'Số lượng bài báo'
FROM dbo.BaiBaoKH
GROUP BY YEAR(dbo.BaiBaoKH.NgayDang)
ORDER BY YEAR(dbo.BaiBaoKH.NgayDang) ASC
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_thongketheoChuyenNganh]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[prd_pkhcn_thongketheoChuyenNganh]
AS
BEGIN
SELECT ChuyenNganh AS N'Chuyên ngành' , COUNT(TenBaiBao) AS N'Số Lượng'
FROM dbo.BaiBaoKH
GROUP BY ChuyenNganh 
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_thongketheoTapChi]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[prd_pkhcn_thongketheoTapChi]
AS
BEGIN
SELECT TapChi AS N'Tạp chí' , COUNT(TenBaiBao) AS N'Số Lượng'
FROM dbo.BaiBaoKH
GROUP BY TapChi
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_xoaBB]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_xoaBB]
@mabb CHAR(10)
AS
BEGIN
DELETE FROM dbo.GVVietBB 
WHERE MBB=@mabb
DELETE FROM dbo.BaiBaoKH
WHERE MABB = @mabb
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_xoaDT_khoiHD]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_xoaDT_khoiHD]
@mahd CHAR(10),
@madt CHAR(10)
AS
BEGIN
UPDATE dbo.DeTaiNCKH
SET dbo.DeTaiNCKH.MAHD = NULL
WHERE dbo.DeTaiNCKH.MADT = @madt
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_xoaGV_khoiHD]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_xoaGV_khoiHD]
@mahd CHAR(10),
@magv CHAR(10)
AS
BEGIN
DELETE FROM dbo.GVThamGiaHD
WHERE dbo.GVThamGiaHD.MHD = @mahd AND
dbo.GVThamGiaHD.MGV = @magv 
END
GO
/****** Object:  StoredProcedure [dbo].[prd_pkhcn_xoaHD]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_pkhcn_xoaHD]
@mahd CHAR(10)
AS 
BEGIN 
UPDATE dbo.DeTaiNCKH SET dbo.DeTaiNCKH.MAHD = NULL WHERE MAHD = @mahd
DELETE FROM dbo.GVThamGiaHD WHERE MHD =@mahd
DELETE FROM dbo.HoiDong WHERE MAHD =@mahd
END
GO
/****** Object:  StoredProcedure [dbo].[prd_XemDSTV_Theo_MaDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[prd_XemDSTV_Theo_MaDT]
@ma NVARCHAR(10)
AS
BEGIN
SELECT * FROM dbo.GVTGDT WHERE MADT = @ma
END
GO
/****** Object:  StoredProcedure [dbo].[pro_Khoa_getAllScientificArtical]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pro_Khoa_getAllScientificArtical] @makhoa nvarchar(10)
as
begin
select MABB as 'Mã bài báo', TenBaiBao as 'Tên bài báo', BaiBaoKH.ChuyenNganh as 'Chuyên ngành', BaiBaoKH.NgayDang as 'Ngày đăng', BaiBaoKH.TapChi as 'Tạp chí', BaiBaoKH.MDT as 'Mã đề tài' from BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT = DeTaiNCKH.MADT where DeTaiNCKH.MABM in (select BOMON.MABM from BOMON left join KHOA on BOMON.MAKHOA = KHOA.MAKHOA where KHOA.MAKHOA= @makhoa) and BaiBaoKH.XacNhan = N'Đã xác minh'
end
GO
/****** Object:  StoredProcedure [dbo].[pro_Khoa_TKPTDTBM_theo_nam]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pro_Khoa_TKPTDTBM_theo_nam] @year nvarchar(10), @makhoa nvarchar(20)
as
begin
select TenBM, count(DeTaiNCKH.MABM) as 'number of topic', cast(round(count(DeTaiNCKH.MABM)*100.0 / SUM(count(DeTaiNCKH.MABM)) over(),1) as decimal(9,1)) as 'percentage', SUM(count(DeTaiNCKH.MABM)) over() as 'Total' from DeTaiNCKH left join BOMON on DeTaiNCKH.MABM = BOMON.MABM where year(DeTaiNCKH.NgayBD) = @year and BOMON.MAKHOA = @makhoa group by DeTaiNCKH.MABM,BOMON.TenBM
end
GO
/****** Object:  StoredProcedure [dbo].[pro_pnckh_thongke_slgdt_khoa]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pro_pnckh_thongke_slgdt_khoa]
as begin
	select KHOA.TenKhoa as 'Tên khoa',count(KHOA.TenKhoa) as 'Số lượng đề tài' from (BOMON join DeTaiNCKH on BOMON.MABM = DeTaiNCKH.MABM) join KHOA on BOMON.MAKHOA = KHOA.MAKHOA group by KHOA.TenKhoa
end
GO
/****** Object:  StoredProcedure [dbo].[pro_pnckh_thongke_slgdt_khoa_theo_nam]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pro_pnckh_thongke_slgdt_khoa_theo_nam] @year nvarchar(10)
as begin
	select KHOA.TenKhoa as 'Tên khoa',count(KHOA.TenKhoa) as 'Số lượng đề tài' from (BOMON join DeTaiNCKH on BOMON.MABM = DeTaiNCKH.MABM) join KHOA on BOMON.MAKHOA = KHOA.MAKHOA where Year(DeTaiNCKH.NgayBD) = @year group by KHOA.TenKhoa
end
GO
/****** Object:  StoredProcedure [dbo].[proc_Bomon_getBB_Loc]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_Bomon_getBB_Loc] @loc nvarchar(50), @mabm char(10)
as
begin
if @loc = N'Đã xác minh'
select BaiBaoKH.MABB, BaiBaoKH.TenBaiBao, BaiBaoKH.ChuyenNganh, BaiBaoKH.TapChi, BaiBaoKH.NgayDang, BaiBaoKH.MDT, BaiBaoKH.Link, BaiBaoKH.XacNhan from BaiBaoKH, DeTaiNCKH where DeTaiNCKH.MADT = BaiBaoKH.MDT and BaiBaoKH.XacNhan = N'Đã xác minh' and DeTaiNCKH.MABM = @mabm
if @loc = N'Chưa xác minh'
select BaiBaoKH.MABB, BaiBaoKH.TenBaiBao, BaiBaoKH.ChuyenNganh, BaiBaoKH.TapChi, BaiBaoKH.NgayDang, BaiBaoKH.MDT, BaiBaoKH.Link, BaiBaoKH.XacNhan from BaiBaoKH, DeTaiNCKH where DeTaiNCKH.MADT = BaiBaoKH.MDT and BaiBaoKH.XacNhan = N'Chưa xác minh' and DeTaiNCKH.MABM = @mabm
end
GO
/****** Object:  StoredProcedure [dbo].[proc_bomon_getBBKH]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_bomon_getBBKH] @maBM char(10)
as
begin
	select * from BaiBaoKH where MDT in (select MDT from DeTaiNCKH where MABM = @maBM)
end
GO
/****** Object:  StoredProcedure [dbo].[proc_Bomon_xmbb]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_Bomon_xmbb] @mabb char(10)
as
begin
	update BaiBaoKH set XacNhan = N'Đã xác minh' where MABB = @mabb
end
GO
/****** Object:  StoredProcedure [dbo].[proc_khoa_deleteTV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_khoa_deleteTV]  @magv char(10), @madt char(10)
as
begin
	delete from GVTGDT where MAGV = @magv and MADT = @madt
end
GO
/****** Object:  StoredProcedure [dbo].[proc_khoa_DoiCN]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_khoa_DoiCN] @madt char(10), @magv char(10), @macn char(10)
as
begin
	UPDATE GVTGDT SET Vaitro = N'Chủ nhiệm' WHERE MAGV = @magv and MADT = @madt
	UPDATE GVTGDT SET Vaitro = N'Thành viên' WHERE MAGV = @macn and MADT = @madt
end
GO
/****** Object:  StoredProcedure [dbo].[proc_khoa_getBBtheoCN]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_khoa_getBBtheoCN] @chuyennganh nvarchar(50), @makhoa nvarchar(10)
as
begin
	select MABB as 'Mã bài báo', TenBaiBao as 'Tên bài báo', BaiBaoKH.ChuyenNganh as 'Chuyên ngành', BaiBaoKH.NgayDang as 'Ngày đăng', BaiBaoKH.TapChi as 'Tạp chí', BaiBaoKH.MDT as 'Mã đề tài' from BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT = DeTaiNCKH.MADT where DeTaiNCKH.MABM in (select BOMON.MABM from BOMON left join KHOA on BOMON.MAKHOA = KHOA.MAKHOA where KHOA.MAKHOA= @makhoa) and BaiBaoKH.ChuyenNganh = @chuyennganh
end
GO
/****** Object:  StoredProcedure [dbo].[proc_khoa_getBBtheoTC]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_khoa_getBBtheoTC] @tapchi nvarchar(50), @makhoa nvarchar(10)
as
begin
	select MABB as 'Mã bài báo', TenBaiBao as 'Tên bài báo', BaiBaoKH.ChuyenNganh as 'Chuyên ngành', BaiBaoKH.NgayDang as 'Ngày đăng', BaiBaoKH.TapChi as 'Tạp chí', BaiBaoKH.MDT as 'Mã đề tài' from BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT = DeTaiNCKH.MADT where DeTaiNCKH.MABM in (select BOMON.MABM from BOMON left join KHOA on BOMON.MAKHOA = KHOA.MAKHOA where KHOA.MAKHOA= @makhoa) and BaiBaoKH.TapChi = @tapchi
end
GO
/****** Object:  StoredProcedure [dbo].[proc_Khoa_getChuyenNganhBBKH]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_Khoa_getChuyenNganhBBKH] @makhoa nvarchar(20)
as
begin
select distinct(BaiBaoKH.ChuyenNganh) as 'Chuyên ngành' from BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT = DeTaiNCKH.MADT where DeTaiNCKH.MABM in (select BOMON.MABM from BOMON left join KHOA on BOMON.MAKHOA = KHOA.MAKHOA where KHOA.MAKHOA=@makhoa)
end
GO
/****** Object:  StoredProcedure [dbo].[proc_khoa_getGVKTGDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_khoa_getGVKTGDT] @makhoa char(10)
as
begin
	select MAGV,ChucVu,TenGV from (select MAGV,ChucVu,TenGV from GV where MAGV  in (select MAGV from GVTGDT  join DeTaiNCKH on GVTGDT.MADT = DeTaiNCKH.MADT  where convert(date,DeTaiNCKH.NgayNT,102) < convert(date,getdate(),102) and MAGV not in(select MAGV from GVTGDT  join DeTaiNCKH on GVTGDT.MADT = DeTaiNCKH.MADT  where convert(date,DeTaiNCKH.NgayNT,102) > convert(date,getdate(),102))) or MAGV not in (select MAGV from GVTGDT) and GV.MABM in (select MABM from BOMON,KHOA where   BOMON.MAKHOA = KHOA.MAKHOA and KHOA.MAKHOA=  @makhoa)) as ts where MAGV not in (select MGV from GVThamGiaHD)

end
GO
/****** Object:  StoredProcedure [dbo].[proc_khoa_getMCN]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_khoa_getMCN] @madt char(10)
as
begin
select MAGV from GVTGDT where GVTGDT.Vaitro =  N'Chủ nhiệm' and MADT = @madt
end

GO
/****** Object:  StoredProcedure [dbo].[proc_khoa_getMGVTV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_khoa_getMGVTV] @madt char(10)
as
begin
select MAGV from GVTGDT where GVTGDT.Vaitro != N'Chủ nhiệm' and MADT = @madt
end
GO
/****** Object:  StoredProcedure [dbo].[proc_khoa_getSoLuongGVKTGDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_khoa_getSoLuongGVKTGDT] @makhoa char(10)
as
begin
	select count(MAGV) from (select MAGV from GV where MAGV  in (select MAGV from GVTGDT  join DeTaiNCKH on GVTGDT.MADT = DeTaiNCKH.MADT  where convert(date,DeTaiNCKH.NgayNT,102) < convert(date,getdate(),102) and MAGV not in(select MAGV from GVTGDT  join DeTaiNCKH on GVTGDT.MADT = DeTaiNCKH.MADT  where convert(date,DeTaiNCKH.NgayNT,102) > convert(date,getdate(),102))) or MAGV not in (select MAGV from GVTGDT) and GV.MABM in (select MABM from BOMON,KHOA where BOMON.MAKHOA = KHOA.MAKHOA and KHOA.MAKHOA= @makhoa)) as ts where MAGV not in (select MGV from GVThamGiaHD)

end
GO
/****** Object:  StoredProcedure [dbo].[proc_Khoa_getTapChiBBKH]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_Khoa_getTapChiBBKH] @makhoa nvarchar(20)
as
begin
select distinct(BaiBaoKH.TapChi) from BaiBaoKH join DeTaiNCKH on BaiBaoKH.MDT = DeTaiNCKH.MADT where DeTaiNCKH.MABM in (select BOMON.MABM from BOMON left join KHOA on BOMON.MAKHOA = KHOA.MAKHOA where KHOA.MAKHOA=@makhoa)
end
GO
/****** Object:  StoredProcedure [dbo].[proc_khoa_getTenGV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_khoa_getTenGV] @magv char(10)
as
begin
	select TenGV from GV where MAGV = @magv
end
GO
/****** Object:  StoredProcedure [dbo].[proc_khoa_insertCNDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_khoa_insertCNDT]  @magv char(10),@madt char(10)
as
begin
	insert into GVTGDT(MAGV, MADT, Vaitro) values (@magv,@madt, N'Chủ nhiệm')
end
GO
/****** Object:  StoredProcedure [dbo].[proc_khoa_insertDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_khoa_insertDT] @madt char(10), @tendt nvarchar(50), @cn nvarchar(50), @cap nvarchar(50), @nnt date, @tt nvarchar(50), @lsp nvarchar(50), @tenbm nvarchar(50), @td int, @kq nvarchar(50)
as
begin 
insert into DeTaiNCKH(MADT, TenDT, ChuyenNganh, Cap, NgayBD, NgayNT,TrangThai,LoaiSP ,MABM, TienDo, KetQua ) values (@madt, @tendt,@cn, @cap, null, @nnt,@tt, @lsp, (select BOMON.MABM from BOMON where BOMON.TenBM = @tenbm ),@td,@kq)
end
GO
/****** Object:  StoredProcedure [dbo].[proc_khoa_insertTV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_khoa_insertTV]  @magv char(10),@madt char(10)
as
begin
	insert into GVTGDT(MAGV, MADT, Vaitro) values (@magv,@madt, N'Thành viên')
end
GO
/****** Object:  StoredProcedure [dbo].[proc_khoa_updateDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_khoa_updateDT] @ten nvarchar(40),@sp nvarchar(40),@mdt char(10)
as
begin
update DeTaiNCKH set TenDT = @ten,                                          
                     LoaiSP = @sp  where MADT = @mdt
end
GO
/****** Object:  StoredProcedure [dbo].[proc_khoa_updateGV]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_khoa_updateGV] @ns date, @gt nvarchar(50), @cb nvarchar(50), @cv nvarchar(50), @dtl nvarchar(10), @tenbm nvarchar(50), @magv char(10)
as 
begin
update GV set NS = @ns, GioiTinh = @gt,CapBac = @cb, ChucVu = @cv, DTL = @dtl, MABM = (select BOMON.MABM from BOMON where BOMON.TenBM = @tenbm) where MAGV = @magv
end
GO
/****** Object:  StoredProcedure [dbo].[proc_Khoa_yeucauhuydt]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_Khoa_yeucauhuydt] @madt char(10)
as
begin
update DeTaiNCKH set TrangThai = N'Yêu cầu hủy' where MADT = @madt
end
GO
/****** Object:  StoredProcedure [dbo].[proc_pkhcn_getCNNN]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_pkhcn_getCNNN] @makhoa char(10)
as
begin
if @makhoa <> ''
	select distinct(GV.MAGV) as 'Mã giáo viên', GV.TenGV as 'Tên giáo viên', GV.CapBac as 'Cấp bậc', GV.ChucVu as 'Chức vụ', GV.GioiTinh as 'Giới tính' from GVTGDT, GV, DeTaiNCKH where GVTGDT.MAGV = GV.MAGV and GVTGDT.MADT = DeTaiNCKH.MADT and GVTGDT.Vaitro = N'Chủ nhiệm'  and GV.MABM in(select MABM from BOMON where MAKHOA = @makhoa)
else
	select distinct(GV.MAGV) as 'Mã giáo viên', GV.TenGV as 'Tên giáo viên', GV.CapBac as 'Cấp bậc', GV.ChucVu as 'Chức vụ', GV.GioiTinh as 'Giới tính' from GVTGDT, GV, DeTaiNCKH where GVTGDT.MAGV = GV.MAGV and GVTGDT.MADT = DeTaiNCKH.MADT and GVTGDT.Vaitro = N'Chủ nhiệm' 
end
GO
/****** Object:  StoredProcedure [dbo].[proc_pkhcn_getdtctd]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_pkhcn_getdtctd] @tiendo int,@makhoa char(10)
as
begin
if @makhoa <> ''
	select MADT as N'Mã đề tài',TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ' from DeTaiNCKH where TienDo < @tiendo and MABM in(select MABM from BOMON where MAKHOA = @makhoa)
else
	select MADT as N'Mã đề tài',TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ' from DeTaiNCKH where TienDo < @tiendo

end
GO
/****** Object:  StoredProcedure [dbo].[searchResearchByName]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[searchResearchByName] @tendt nvarchar(50) , @ma char(10),@tt nvarchar(50),@nam int
as
begin

		if @ma = '' and @nam = '' and @tt <> ''
		select MADT as N'Mã đề tài' ,TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ' from DeTaiNCKH where TenDT Like @tendt and TrangThai= @tt order by YEAR(NgayNT) desc
	if @ma = '' and @nam <> '' and @tt=''
		select MADT as N'Mã đề tài' ,TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ' from DeTaiNCKH where TenDT Like @tendt and year(NgayBD) = @nam
	if @ma <> '' and @nam = '' and @tt=''
		select MADT as N'Mã đề tài' ,TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ'
		FROM dbo.DeTaiNCKH, dbo.BOMON
		WHERE TenDT Like @tendt and  dbo.DeTaiNCKH.MABM = dbo.BOMON.MABM  AND dbo.BOMON.MAKHOA= @ma
	if @ma = '' and @nam <> '' and @tt <>''
		select MADT as N'Mã đề tài' ,TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ' from DeTaiNCKH where TenDT Like @tendt and year(NgayBD) = @nam and TrangThai = @tt order by YEAR(NgayNT) desc
	if @ma <> '' and @nam <> '' and @tt=''
		select MADT as N'Mã đề tài' ,TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ' from DeTaiNCKH where TenDT Like @tendt and MABM in (select MABM from BOMON where MAKHOA = @ma) and year(NgayBD) = @nam order by YEAR(NgayNT) desc
	if @ma <> '' and @nam = '' and @tt <> ''
		select MADT as N'Mã đề tài' ,TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ' from DeTaiNCKH where TenDT Like @tendt and MABM in (select MABM from BOMON where MAKHOA = @ma) and TrangThai = @tt order by YEAR(NgayNT) desc
	if @ma <> '' and @nam <> '' and @tt <>''
		select MADT as N'Mã đề tài' ,TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ' from DeTaiNCKH where TenDT Like @tendt and MABM in (select MABM from BOMON where MAKHOA = @ma) and TrangThai = @tt and year(NgayBD) = @nam order by YEAR(NgayNT) desc
	if @ma ='' and @nam ='' and @tt = ''
		select MADT as N'Mã đề tài' ,TenDT as N'Tên đề tài',NgayBD as N'Ngày bắt đầu',NgayNT as N'Ngày nghiệm thu',TrangThai as N'Trạng thái',TienDo as N'Tiến độ' from DeTaiNCKH where TenDT Like @tendt
end
GO
/****** Object:  StoredProcedure [dbo].[updateCN]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateCN] @MGV1 char (10),@MGV2 char(10)
as
begin
	update GVTGDT set Vaitro = N'Thành viên' where MAGV = @MGV1
	update GVTGDT set Vaitro = N'Chủ nhiệm' where MAGV = @MGV2
end
GO
/****** Object:  StoredProcedure [dbo].[updateProcess]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateProcess]  @mdt char(10), @td float
as
begin
	update DeTaiNCKH set TienDo = @td where MADT = @mdt
end
GO
/****** Object:  StoredProcedure [dbo].[updateResearch]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updateResearch] @tendt nvarchar(50), @CN nvarchar(50),@cap nvarchar(50),@Kq nvarchar(20),@NBD date,@NNT date,@lsp nvarchar(50),@td nvarchar(50),@tt nvarchar(50),@mdt char(10)
as
begin
	update DeTaiNCKH
	set TenDT = @tendt,ChuyenNganh=@CN,Cap = @cap,KetQua = @Kq,NgayBD = @NBD,NgayNT = @NNT,LoaiSP = @lsp,TienDo = @td,TrangThai=@tt where MADT = @mdt
end
GO
/****** Object:  StoredProcedure [dbo].[XuatDKDT]    Script Date: 6/8/2022 2:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[XuatDKDT] @madt char(10)
as 
begin
	select TenGV,GioiTinh,CapBac,ChucVu,Vaitro from GV ,GVTGDT where GV.MAGV = GVTGDT.MAGV and MADT = 'DT035' and Vaitro = N'Thành viên'
end
GO
